.code-shell {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px;
  border: 1px solid #c0c0c0;
  background-color: #000000;
  color: #c0c0c0;
  border-radius: 5px;
  max-height: 40vh;

  &__column {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    width: 50%;

    &__code {
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

}
