<div class="app">

    <mat-toolbar color="primary">
        <mat-toolbar-row class="app__menu">

            <span>DAISY</span>

            <mat-menu #appMenu="matMenu">
                <button mat-menu-item
                    routerLink="/"
                    routerLinkActive="app__link-active"
                    [routerLinkActiveOptions]="{exact: true}">Home</button>

                <button mat-menu-item
                    routerLink="/stage1"
                    routerLinkActive="app__link-active"
                    [routerLinkActiveOptions]="{exact: true}">Stage 1</button>

                <button mat-menu-item
                    routerLink="/stage2"
                    routerLinkActive="app__link-active"
                    [routerLinkActiveOptions]="{exact: true}">Stage 2</button>

                <button mat-menu-item
                    routerLink="/stage3"
                    routerLinkActive="app__link-active"
                    [routerLinkActiveOptions]="{exact: true}">Stage 3</button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>

        </mat-toolbar-row>
    </mat-toolbar>

    <div class="app__container">
        <router-outlet></router-outlet>
    </div>

</div>
