.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  &__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    user-select: none;
  }

  &__link-active {
    background: rgba(0,0,0,.04);
    font-weight: 900;
  }

  &__container {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 20px;
    overflow: scroll;
  }
}
